<h2>Welcome!</h2>

<h3>Recent Pasters</h3>

<a class="close-list" href="#">Close List</a>
<ul class="recent-list">
[% WHILE (paste = pastes_sorted.next) %]
	<li><a href="[% c.uri_for(c.controller('pastes').action_for('view'), [paste.id]) %]">[% paste.name %]</a></li>
[% END %]
</ul>
