<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-GB" xml:lang="en-GB">
<head>
<title>[% title %]</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="/static/styles/main.css" />
<script type="text/javascript" src="/static/scripts/jquery.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	$("a.close-list").click(function(event){
	     event.preventDefault();
	     $("ul.recent-list").hide("slow");
	});

	$("div.scratch").innerHTML="hello";
 });
</script>
</head>
<body>
	<h1><a href="/">Paste Bin</a></h1>
		<div class="scratch"></div>
	<div id="content">
		[%# Status and error messages %]
		<span class="message">[% status_msg %]</span>
		<span class="error">[% error_msg %]</span>
		[%# This is where TT will stick all of your template's contents. -%]
		[% content %]
	</div><!-- end content -->
</body>
</html>
