<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-GB" xml:lang="en-GB">
<head>
<title>[% title || 'PasteBin' %]</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="/static/styles/main.css" />
<script type="text/javascript" src="/static/scripts/jquery.js"></script>
<script type="text/javascript" src="/static/scripts/load_recent_pastes.js"></script>
</head>
<body>
	<div id="header">
		<h1><a href="/">PasteBin</a></h1>
		<ul id="navigation">
			<li><a href="/">New</a></li>
			<li><a href="/pastes">Recent</a></li>
		</ul>
	</div>

	<div id="content" class="clear">
		[% content %]
	</div><!-- end content -->

	<div class="recent-list-container">
		<h3>Recent Pastes</h3>
		<ul class="recent-list">
		[% FOR paste IN pastes_sorted %]
			<li><a href="[% c.uri_for(c.controller('pastes').action_for('view'), [paste.id]) %]">[% paste.name %]</a></li>
		[% END %]
		</ul>
	</div>
</body>
</html>
