<form method="post" action="[% c.uri_for(c.controller('Pastes').action_for('add')) %]">

	<div>
	<label for="name">
		Name:
		<input type="text" name="name" id="name" />
	</label>
	</div>
	<div>
	<label for="paste_contents">
		<textarea id="paste_contents" name="paste_contents" rows="20" cols="90"></textarea>
	</label>
	</div>
	<input type="submit" name="submit" id="submit" value="Paste" />
</form>

