<h2>Pastes</h2>
 
[% WHILE (paste = pastes_sorted.next) %]
<dl class="paste">
        <dt><a href="[% c.uri_for(c.controller('pastes').action_for('view'), [paste.id]) %]">[% paste.name | html %]</a></dt>
	<dd>[% truncate_text('beetles') %]</dd>
	<dd>[% paste.last_modified | html %]</dd>
</dl>
[% END %]

