<h2>Pastes</h2>
 
<dl>
[% WHILE (paste = pastes_sorted.next) %]
        <dt><a href="[% c.uri_for(c.controller('pastes').action_for('view'), [paste.id]) %]">[% paste.name | html %]</a></dt>
	<dd>[% paste.paste | html %]</dd>
[% END %]
</dl>

